/* 3D Dice Styles */

.dice-wrap {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  perspective: 1000px;
}

.dice-wrap::before {
  position: absolute;
  content: "";
  width: 70%;
  height: 10%;
  top: 90%;
  left: 15%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  filter: blur(10px);
}

.dice {
  position: absolute;
  width: 100px;
  height: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  transform-style: preserve-3d;
  transform: rotate3d(0, 0.9, 0.9, 90deg);
  transition: 0.5s cubic-bezier(0.42, 1.57, 0.62, 0.86);
}

.dice.throw {
  animation: rotateDice 0.7s ease-in reverse, throwDice 1s linear;
}

.dice-face {
  box-sizing: border-box;
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #f6f3f0;
  border: 2px solid #ffffff;
  border-radius: 20px;
  transform-style: preserve-3d;
  transition: 0.5s;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 10px;
  gap: 5px;
}

.dice-face::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  transform: translateZ(-1px);
  top: 0;
  left: 0;
}

.dice-face .dot {
  width: 16px;
  height: 16px;
  background-color: #131210;
  border-radius: 100%;
  position: absolute;
  transform: translateZ(1px);
}

/* Dot positions */
.dot.top-left {
  top: 15px;
  left: 15px;
}

.dot.top-center {
  top: 15px;
  left: 50%;
  margin-left: -8px;
}

.dot.top-right {
  top: 15px;
  right: 15px;
}

.dot.center {
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
}

.dot.bottom-left {
  bottom: 15px;
  left: 15px;
}

.dot.bottom-center {
  bottom: 15px;
  left: 50%;
  margin-left: -8px;
}

.dot.bottom-right {
  bottom: 15px;
  right: 15px;
}

/* Face transformations */
.dice-face.front {
  transform: translateZ(50px);
}

.dice-face.front .dot {
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
}

.dice-face.up {
  transform: rotateX(90deg) translateZ(50px);
}

.dice-face.left {
  transform: rotateY(-90deg) translateZ(50px);
}

.dice-face.right {
  transform: rotateY(90deg) translateZ(50px);
}

.dice-face.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}

.dice-face.back {
  transform: rotateX(180deg) translateZ(50px);
}

/* Animations */
@keyframes rotateDice {
  30% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 720deg);
  }
}

@keyframes throwDice {
  20% {
    margin-top: -100px;
  }
  40% {
    margin-top: 0px;
  }
  60% {
    margin-top: -30px;
  }
  80% {
    margin-top: 0px;
  }
  85% {
    margin-top: -10px;
  }
  90% {
    margin-top: 0px;
  }
  95% {
    margin-top: -3px;
  }
  100% {
    margin-top: 0px;
  }
}
